# Entorno virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
db.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# VS Code (opcional)
.vscode/

# Logs
*.log